@font-face {
  font-family: mona;
  src: url(./Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}
@font-face {
  font-family: visual-reg;
  src: url(./WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}
@font-face {
  font-family: visual-bold;
  src: url(./WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: visual-reg;
  /* outline: 1px solid red; */
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
nav {
  height: 13%;
  width: 100%;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  margin-left: 18px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  width: 450px;
  padding: 8px;
  border-radius: 40px;
  background-color: rgb(243, 242, 242);
}
.searchtext {
  /* width: 300px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.search h2 {
  font-size: 15px;
  font-weight: 500;
}
.search input {
  border: none;
  background-color: white;
  padding-right: 80px;
  padding-left: 20px;
  background-color: rgb(243, 242, 242);
  /* font-family: mona; */
}
.search h3 {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  background-color: rgb(236, 94, 149);
  border-radius: 50%;
  color: white;
}
.options {
  display: flex;
  align-items: center;
  justify-content: center;
}
.options a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14.5px;
  font-weight: 580;
  font-family: mona;
}
a.login-but {
  border: 1px solid black;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: black;
  color: white;
}
a.login-but:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}
.content {
  width: 100%;
  height: 61%;
  display: grid;
  padding: 0px 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left right";
  grid-gap: 10px;
}
.content-left {
  border: 1px solid transparent;
  background-color: white;
  color: black;
  grid-area: left;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.content-left h1 {
  font-size: 55px;
  width: 70%;
  padding: 30px 40px 0px 40px;
  font-weight: 500;
  font-family: mona;
  line-height: 0.95;
}
.content-left p {
  font-size: 14px;
  width: 80%;
  padding: 15px 40px 5px 40px;
  font-weight: 400;
  font-family: visual-reg;
}
.content-options {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 38px;
}
.content-options button {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 18px;
  border-radius: 45px;
  background-color: rgb(58, 53, 70);
  color: white;
  margin: 10px 10px;
  font-size: 14px;
  font-weight: 580;
  font-family: mona;
}
.content-options button:hover {
  border: 1px solid rgb(200, 199, 199);
  background-color: white;
  color: black;
  cursor: pointer;
}
.content-options i {
  margin-right: 5px;
}
.content-searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  width: 450px;
  margin: 0px 40px;
  padding: 8px;
  border-radius: 40px;
  background-color: rgb(243, 242, 242);
}
.content-icon h3 {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  background-color: rgb(236, 94, 149);
  border-radius: 50%;
  color: white;
}
.content-input input {
  width: 300px;
  border: none;
  background-color: rgb(243, 242, 242);
  font-weight: 500;
}
.suggestions {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  margin-left: 40px;
  margin-top: 10px;
  font-size: 12px;
}
.suggestions button {
  border: 1px solid rgb(200, 199, 199);
  padding: 5px 12px;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: 500;
  font-family: visual-reg;
}
.content-right {
  border: 1px solid transparent;
  background-color: rgb(255, 255, 255);
  grid-area: right;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.content-right video {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}
.content-right .bottom {
  width: 100%;
  height: 20%;
  background: linear-gradient(transparent, rgba(157, 157, 157, 0.495));
  position: absolute;
  bottom: -20%;
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.content-right:hover .bottom {
  bottom: 0;
  transition: all 0.4s ease-in-out;
}
.content-right .bottom .icon i {
  font-size: 20px;
  color: black;
  cursor: pointer;
  width: fit-content;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
.content-right .bottom .name {
  font-size: 16px;
  color: black;
  font-weight: 500;
  font-family: visual-reg;
  width: fit-content;
  background-color: white;
  padding: 8px 15px;
  border-radius: 40px;
}
